<h1>Northwest Dictionary</h1>

<p>
  <a href="/">See all entries</a>
</p>

<div class="entry_form">
  <form class="form-group" action="/definition/new" method="post">
    <input type="hidden" name="word" value ="<%= @word.id %>">
    <h2><%= @word.word() %>:</h2>
    <% @word.definition.definition.each do |meaning|%>
    <h2><%= meaning %></h2>
    <% end %>
    <label for="new_definition_input">Additional Definition</label>
    <textarea class="form-control" name="new_definition_input" rows="3"></textarea>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
